@import "../../styles/constants.scss";

.wrapper {
  background: white;
  .container {
    position: inherit;
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 3rem;
      font-weight: 700;
    }

    p {
      font-size: 1.7rem;
      font-weight: 300;
    }

    @media (max-width: $sm), (max-width: $md) {
      p {
        font-size: 1rem;
        margin-left: 0.9rem;
      }
    }

    .upElements {
      margin-top: 4%;
    }
  }
  .lowerElements {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
    @media (max-width: $sm), (max-width: $md) {
      display: grid;
      margin-left: 18%;
    }
  }
  .lowerElements2 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
    margin-top: -5%;
    @media (max-width: $sm), (max-width: $md) {
      display: grid;
      margin-top: -158%;
      margin-left: -75%;
    }
  }

  .lowerElements3 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
    margin-top: -5%;
    @media (max-width: $sm), (max-width: $md) {
      display: grid;
      margin-left: 43%;
      margin-top: -185%;
    }
  }
  .lowerElements4 {
    display: flex;
    justify-content: space-around;

    margin-top: -5%;
    @media (max-width: $sm), (max-width: $md) {
      display: grid;
      margin-left: 75%;
      margin-top: -158%;
    }
  }
}
